<!DOCTYPE html>
<html ng-app="hrApp">
<head>
  <base href="/">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMBRc7S-fUkCbXazZbh-E06kbFfZFk-MQ&libraries=places,geometry"></script>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Outline|Montserrat:400,700,900" rel="stylesheet">
  <title>Project 3</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <!-- <script src="js/lib/angular-animate.js" charset="utf-8"></script> -->
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->


</head>
<body ng-controller="MainCtrl as main">
  <nav>
    <div class="gradient">
    <div class="pageName">
      <h1>accommo<span id="data">data</span>.</h1>
    </div>
    <div class="links">
      <ul>
        <li ng-if="main.isAuthenticated()"><a ui-sref="infoNew" ui-sref-active="active">Form</a></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="infoIndex" ui-sref-active="active">Info</a></li>
        <li ng-if="main.isAuthenticated()"><a ui-sref="userShow({ id: main.currentUserId })" ui-sref-active="active">Profile</a></li>
        <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" ui-sref-active="active">Logout</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">Login</a></li>
        <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">Register</a></li>

      </ul>
    </div>
  </div>
  </nav>
  <main ui-view class="container"></main>
</body>
<footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</footer>
</html>
